[access]
	inheritFrom = All-Projects
[project]
	description = Weles is a lightweight testing framework for Boruta, inspired by LAVA.
[access "refs/*"]
	owner = group user/Paweł Wieczorek (pawiecz)
[access "refs/for/refs/*"]
	read = group user/Paweł Wieczorek (pawiecz)
	push = group user/Paweł Wieczorek (pawiecz)
	label-Code-Review = -2..+2 group user/Paweł Wieczorek (pawiecz)
	label-Verified = -1..+1 group user/Paweł Wieczorek (pawiecz)
	rebase = group user/Paweł Wieczorek (pawiecz)
	removeReviewer = group user/Paweł Wieczorek (pawiecz)
	submit = group user/Paweł Wieczorek (pawiecz)
[access "refs/heads/*"]
	read = group user/Paweł Wieczorek (pawiecz)
	create = group user/Paweł Wieczorek (pawiecz)
	push = +force group user/Paweł Wieczorek (pawiecz)
	pushMerge = group user/Paweł Wieczorek (pawiecz)
[access "refs/tags/*"]
	push = group user/Paweł Wieczorek (pawiecz)
	push = +force group user/Paweł Wieczorek (pawiecz)
